body {
  background-image: url(../spinningfood.gif);
  background-size: cover;
  justify-content: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 16px;
}

.title {
  justify-content: center;
  background-color: transparent;
  font-family: 'Lobster Two', cursive;
  font-size: 80px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#06b6ff; /*turquoise, #ff06b5*/ 
}

.heading{
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
}

form.signup,
form.login {
  margin-top: 50px;
}
<<<<<<< HEAD
=======

.radient{
  background-image:linear-gradient(#88dcff, #b9eafe, white)
}

.buttons{
  background-color: #ff073a;
}
>>>>>>> a2a3108b0c22033c2b7142f23ba548fb7a415f17
