body {
  background-image: url(/images/background.gif);
  background-size: cover;
  justify-content: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 16px;
}

.title {
  justify-content: center;
  background-color: transparent;
  font-family: 'Lobster Two', cursive;
  font-size: 80px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#83efec; 
}

.heading{
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
}

.radient{
  background-image:linear-gradient(#83efec, #9df2f0, white)
}
.buttons{
  background-color: #ff073a;
}

